<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="sf-life" attributes="">
    <template>
        <link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
        <link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
        .left-panel {
            background-color: #45DFBE;
            height: 100%;
            padding: 50px;
        }
        .right-panel {
            background-color: #FFFFFF;
            height: 100%;
        }
        .option-tab {
        }
    </style>
    <div class="top-section">
    <div class="row">
      <div class="col-md-4 left-panel">
        <div center horizontal layout>
            <div flex><h2>EDGE</h2></div>
        </div>
        </br>
        <div center horizontal layout class="option-tab">
            <div flex> Community Gardens </div>
            <paper-toggle-button role="button" aria-pressed="{{gardens_selected}}"></paper-toggle-button>
        </div> 
            </br>
        <div center horizontal layout class="option-tab">
            <div flex> Farmers Markets </div>
            <paper-toggle-button role="button" aria-pressed="{{markets_selected}}"></paper-toggle-button>
        </div> 
            </br>
        <div center horizontal layout class="option-tab">
            <div flex> Health Facility Proximity </div>
            <paper-toggle-button role="button" aria-pressed="{{health_selected}}"></paper-toggle-button>
        </div> 
            </br>
        <div center horizontal layout class="option-tab">
            <div flex> Rent Burden </div>
            <paper-toggle-button role="button" aria-pressed="{{rentburden_selected}}"></paper-toggle-button>
        </div> 
            </br>
        <div center horizontal layout class="option-tab">
            <div flex> Transit Frequency </div>
            <paper-toggle-button role="button" aria-pressed="{{transit_selected}}"></paper-toggle-button>
        </div>
      </div>
      
      <div class="col-md-8 right-panel">
          <div id="map" style="width: 100%; height: 100%"></div>
      </div>

    </div>
    </div>
    </template>
    <script src="../js/d3.v2.min.js"></script>
    <script>
        Polymer('sf-life', {
            ready: function() {
                var arr = [];
                var rates = [];
                var width = this.$.map.offsetWidth;
                var height = this.$.map.offsetHeight;
                var map = d3.select(this.$.map).append('svg').attr("width", width)
                .attr("height", height);
                var path = d3.geo.path().projection(d3.geo.albers().origin([-122.4031949051393, 37.80511854740679]).scale(400000).translate([700, 223]));

                d3.json('static/data/AsthmaRates_CB00.json', function(json) {
                    map.selectAll('path')
                        .data(json.features)
                        .enter().append('path')
                        .attr('d', path)
                        .attr('class', function(d) {
                            console.log('block: ' + d.properties.BLOCKGROUP);
                         //   console.log('zip z' + d.properties);
                            arr.push(d.id);
                            return 'zip z' + d.id
                        })
                }); 
            }

        });
    </script>
    
</polymer-element>