<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="sf-life" attributes="">
    <template>
        <link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
        <link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
        .left-panel {
            background-color: #45DFBE;
            height: 100%;
            padding: 50px;
        }
        .right-panel {
            background-color: #FFFFFF;
            height: 100%;
        }
        .option-tab {
        }
    </style>
    <div class="top-section">
    <div class="row">
      <div class="col-md-4 left-panel">
        <div center horizontal layout>
            <div flex><h2>EDGE</h2></div>
        </div>
        </br>

        <template repeat="{{ feature in collection }}">
            <div center horizontal layout class="option-tab">
                <div flex> Community Gardens </div>
                <paper-toggle-button role="button" aria-pressed="{{gardens_selected}}"></paper-toggle-button>
        </div> 
        </template>
      </div>

      <div class="col-md-8 right-panel">
          
      </div>

    </div>
    </div>
    </template>

    <script>
        Polymer('sf-life', {
            unprocessed = require("data.json");
            data = {}
            collection = {}

            ready: function() {
            },
            attached: function() {
                this.loadData();
            },
            loadData: function() {
                for (i in unprocessed.data.length()){
                    unprocessed.data[i]

                }
            },
            gardens_selectedChanged: function(oldValue, newValue) {
                calculateScore();
            },
            markets_selectedChanged: function(oldValue, newValue) {
                calculateScore();
            },
            health_selectedChanged: function(oldValue, newValue) {
                calculateScore();
            },
            rentburden_selectedChanged: function(oldValue, newValue) {
                calculateScore();
            },
            transit_selectedChanged: function(oldValue, newValue) {
                calculateScore();
            },
            calculateScore: function() {
                total = 0;
                score = 0;
                if (gardens_selected) {
                    total++;
                    score+=data.
                }
                if (markets_selected) {
                    total++;
                }
                if (health_selected) {
                    total++;
                }
                if (rentburden_selected) {
                    total++;
                }
                if (transit_selected) {
                    total++;
                }

            }

        });
    </script>
    
</polymer-element>