{% load staticfiles %}

<html>
    <head>
        <title>SF Life</title>
        <script src="{% static 'js/d3.v2.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <link href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}">
        <link href="{% static 'fonts/glyphicons-halflings-regular.woff' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>